<header class="header">
    <div class="container-fluid xs:ptb-30 lg:ptb-15 xs:h-100">
        <div class="container xs:h-100">
            <div class="header-wrapper xs:flex-column lg:flex-row xs:flex-justify-center lg:flex-wrap xs:h-100">
                <div class="header-block xs:col-24 lg:col-12 xs:w-100 xs:w-100 lg:w-50 xs:h-auto lg:h-50 xs:ptb-15 lg:pr-10 xs:flex-column lg:flex-justify-start lg:flex-align-start">
                    <div class="header-logo-wrapper">
                        <div class="header-logo xs:flex-row xs:flex-justify-start xs:flex-align-end">
                            <img class="logo xs:mr-5" src="assets/img/logo.svg" alt="">
                            <h1 class="header-brand mr5">SBA</h1>
                            <h5 class="header-subtitle">Lorem, ipsum.</h5>
                        </div>
                    </div>
                </div>
                <div class="header-block xs:col-24 lg:col-12 xs:w-100 xs:w-100 lg:w-50 xs:h-auto lg:h-50 xs:ptb-15 lg:pl-10 xs:flex-column lg:flex-justify-start lg:flex-align-end">
                    <div class="input-wrapper xs:flex-row xs:flex-justify-sb xs:flex-align-center">
                        <input type="text" name="search" id="search" class="input-field" autocomplete="off">
                        <div class="search-btn xs:df xs:flex-justify-center xs:flex-align-center"></div>
                    </div>
                    <p class="text xs:text-center lg:text-end xs:mtb-15">
                        Call Us: <a href="tel:+18005596580" class="link tel">+1 800 559 65 80</a>
                    </p>
                </div>
                <div class="header-block xs:col-24 lg:col-12 xs:w-100 xs:w-100 lg:w-50 xs:h-auto lg:h-50 xs:ptb-15 lg:pr-10 xs:flex-column lg:flex-justify-end lg:flex-align-start">
                    <p class="text xs:text-center lg:text-start xs:mtb-15">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, unde!
                    </p>
                    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn">Learn more</a>
                </div>
                <div class="header-block  xs:col-24 lg:col-12 xs:w-100 xs:w-100 lg:w-50 xs:h-auto lg:h-50 xs:ptb-15 lg:pl-10 xs:flex-column lg:flex-justify-end lg:flex-align-end">
                    <p class="text xs:text-center lg:text-end xs:mtb-15">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, unde!
                    </p>
                    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn">Learn more</a>
                </div>
            </div>
        </div>
    </div>
</header>