<section class="main xs:ptb-30">
    <div class="container">
        <div class="wrapper">
            <div class="inner-wrapper xs:mb-30 xs:flex-column lg:flex-row lg:flex-justify-sb lg:flex-align-start">
                <div class="inner-block xs:col-24 lg:col-8 about">
                    <h2 class="title">About Us</h2>
                    <p class="text">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel magni aut ratione cumque? Quia numquam laborum, maiores eum pariatur vitae, natus necessitatibus ullam delectus eveniet, quas iusto rerum eaque assumenda!
                    </p>
                    <p class="text">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam vitae obcaecati, maxime esse corrupti minus. Cumque ipsam tenetur quis similique, deleniti sed aspernatur expedita dolor?
                    </p>
                    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn">Learn more</a>
                </div>
                <div class="inner-block xs:col-24 lg:col-8 services">
                    <h2 class="title">Services</h2>
                    <ul class="list list-group-numbered">
                        <li class="list-item">Lorem ipsum dolor sit amet consectetur.</li>
                        <li class="list-item">Lorem ipsum dolor sit amet consectetur.</li>
                        <li class="list-item">Lorem ipsum dolor sit amet consectetur.</li>
                        <li class="list-item">Lorem ipsum dolor sit amet consectetur.</li>
                        <li class="list-item">Lorem ipsum dolor sit amet consectetur.</li>
                        <li class="list-item">Lorem ipsum dolor sit amet consectetur.</li>
                    </ul>
                    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn">Learn more</a>
                </div>
                <div class="inner-block xs:col-24 lg:col-8 news">
                    <h2 class="title">Latest News</h2>
                    <ul class="list list-group-numbered">
                        <li class="list-item">Lorem ipsum dolor sit amet consectetur.</li>
                        <li class="list-item">Lorem ipsum dolor sit amet consectetur.</li>
                        <li class="list-item">Lorem ipsum dolor sit amet consectetur.</li>
                        <li class="list-item">Lorem ipsum dolor sit amet consectetur.</li>
                        <li class="list-item">Lorem ipsum dolor sit amet consectetur.</li>
                        <li class="list-item">Lorem ipsum dolor sit amet consectetur.</li>
                    </ul>
                    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn">Learn more</a>
                </div>
            </div>
            <div class="inner-wrapper xs:flex-column lg:flex-row lg:flex-justify-sb lg:flex-align-start">
                <div class="inner-block xs:col-24 lg:col-8 welcome">
                    <h2 class="title">Welcome</h2>
                    <p class="suptitle">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus alias optio aliquid perspiciatis odio quaerat.
                    </p>
                    <p class="text">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem expedita exercitationem vitae aliquam maiores, hic voluptates vero nisi saepe modi quasi quae possimus dolorem porro fugit praesentium eos fugiat doloribus?
                    </p>
                </div>
                <div class="inner-block xs:col-24 lg:col-8 portfolio">
                    <h2 class="title">Portfolio</h2>
                    <a href="https://via.placeholder.com/1920x1080?text=Placeholder" class="fancybox" data-fancybox="portfolio">
                        <img src="https://via.placeholder.com/300x150?text=Placeholder" alt="" class="img-fluid xs:mtb-10">
                    </a>
                    <p class="suptitle xs:mt-10">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, asperiores.
                    </p>
                </div>
                <div class="inner-block xs:col-24 lg:col-8 links">
                    <h2 class="title">Links</h2>
                    <ul class="list list-group-numbered">
                        <li class="list-item suptitle"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="link suptitle">Lorem ipsum dolor sit amet
                                consectetur.</a></li>
                        <li class="list-item suptitle"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="link suptitle">Lorem ipsum dolor sit amet
                                consectetur.</a></li>
                        <li class="list-item suptitle"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="link suptitle">Lorem ipsum dolor sit amet
                                consectetur.</a></li>
                        <li class="list-item suptitle"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="link suptitle">Lorem ipsum dolor sit amet
                                consectetur.</a></li>
                        <li class="list-item suptitle"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="link suptitle">Lorem ipsum dolor sit amet
                                consectetur.</a></li>
                        <li class="list-item suptitle"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="link suptitle">Lorem ipsum dolor sit amet
                                consectetur.</a></li>
                        <li class="list-item suptitle"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="link suptitle">Lorem ipsum dolor sit amet
                                consectetur.</a></li>
                        <li class="list-item suptitle"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="link suptitle">Lorem ipsum dolor sit amet
                                consectetur.</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>